Repository chrisjsewell/pytest-notebook: changes, and which pre-commit hooks are due for each by the changed paths.
All: travis-linter, doc8

.pre-commit-config.yaml:

# Install pre-commit hooks via
# pre-commit install

repos:

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    # - id: double-quote-string-fixer
    - id: flake8

  - repo: https://github.com/psf/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.6

  - repo: local
    hooks:

    - id: travis-linter
      name: Travis Lint
      entry: travis lint
      files: .travis.yml
      language: ruby
      additional_dependencies: ['travis']

    - id: doc8
      entry: doc8
      language: system
      types: [rst]
      name: doc8 - Lint the documentation.

    # TODO could also add check-manifest

add initial working implementation
  .flake8
  .gitignore
  .vscode/settings.json
  docs/source/apidoc/pytest_notebook.rst
  docs/source/conf.py
  pytest_notebook/__init__.py
  pytest_notebook/ansi_to_html.py
  pytest_notebook/diffing.py
  pytest_notebook/execution.py
  pytest_notebook/nb_regression.py
  pytest_notebook/plugin.py
  pytest_notebook/post_processors.py
  pytest_notebook/utils.py
  setup.py
  tests/raw_files/different_outputs.ipynb
  tests/raw_files/different_outputs_alt_diff.json
  tests/raw_files/different_outputs_altered.ipynb
  tests/raw_files/different_outputs_diff.json
  tests/raw_files/nb.v4.schema.json
  tests/test_cell_diff.py
  tests/test_coalesce_streams.py
  tests/test_execution.py
  tests/test_filter_diff.py
  tests/test_filter_diff/test_filter_diff_outtypes.yml
  tests/test_nb_diff.py
  tests/test_nb_diff/test_diff_to_string.txt
  tests/test_nb_diff/test_notebooks_unequal.yml
  tests/test_plugin.py
Due: doc8

fix travis pytest run configuration
  .travis.yml
Due: travis-linter

fix tests for python 3.7
  tests/test_plugin.py
Due: none

add blacken_code post-processor
  README.md
  pytest_notebook/nb_regression.py
  pytest_notebook/post_processors.py
  setup.py
  tests/test_blacken_code.py
  tests/test_coalesce_streams.py
Due: none

add collection/execution of notebooks
  .vscode/settings.json
  pytest_notebook/nb_regression.py
  pytest_notebook/plugin.py
  pytest_notebook/post_processors.py
  tests/test_plugin_collector.py
  tests/test_plugin_fixture.py
Due: none

test fixes
  docs/source/conf.py
  pytest_notebook/plugin.py
Due: none

fix typo
  pytest_notebook/plugin.py
Due: none

test fix and readme update
  README.md
  tests/test_plugin_collector.py
Due: none

Added ordering of stdout/stderr outputs.
  .gitchangelog.rc
  .readthedocs.yml
  README.md
  docs/environment.yaml
  docs/source/changelog.rst
  docs/source/index.rst
  docs/source/user_guide/get_started.rst
  pytest_notebook/post_processors.py
Due: doc8

add diff configuration via notebook metadata
  .travis.yml
  pytest_notebook/ansi_to_html.py
  pytest_notebook/diffing.py
  pytest_notebook/execution.py
  pytest_notebook/nb_regression.py
  pytest_notebook/plugin.py
  pytest_notebook/post_processors.py
  setup.py
  tests/raw_files/different_outputs_with_metadata.ipynb
  tests/raw_files/nb_with_skip_meta.ipynb
  tests/test_nb_regression.py
  tests/test_plugin_collector.py
  tests/test_plugin_fixture.py
  tests/test_utils.py
  tests/test_utils/test_autodoc.txt
Due: travis-linter

test fixes
  pytest_notebook/plugin.py
  tests/test_utils/test_autodoc.txt
Due: none

test fix
  tests/raw_files/different_outputs_with_metadata.ipynb
Due: none

fix api documentation
  .gitignore
  README.md
  docs/source/apidoc/pytest_notebook.rst
  docs/source/conf.py
  pytest_notebook/nb_regression.py
  test_nbdiff.ipynb
Due: doc8

add nb_post_processors to configuration options
  pytest_notebook/nb_regression.py
  pytest_notebook/plugin.py
  tests/test_utils/test_autodoc.txt
Due: none

Add documentation and make relevant improvements to the code
  .gitchangelog.rc
  .vscode/settings.json
  MANIFEST.in
  README.md
  docs/source/_static/blacken-code.png
  docs/source/_static/collaged_in_out.png
  docs/source/_static/edit-cell-metadata.png
  docs/source/_static/edit-nb-metadata.png
  docs/source/_static/multi-test-outcome.png
  docs/source/_static/pytest-ini.png
  docs/source/_static/pytest-notebook-screenshot.png
  docs/source/api_index.rst
  docs/source/apidoc/pytest_notebook.rst
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/user_guide/tutorial_intro.ipynb
  pytest.ini
  pytest_notebook/__init__.py
  pytest_notebook/example_nbs/__init__.py
  pytest_notebook/example_nbs/example1.ipynb
  pytest_notebook/example_nbs/example1_pass.ipynb
  pytest_notebook/example_nbs/example2.ipynb
  pytest_notebook/ipy_magic.py
  pytest_notebook/nb_regression.py
  pytest_notebook/plugin.py
  pytest_notebook/post_processors.py
  setup.py
  tests/raw_files/poorly_formatted_code.ipynb
  tests/test_ipy_magic.py
  tests/test_plugin_collector.py
Due: doc8

fix travis
  docs/source/user_guide/tutorial_intro.ipynb
  pytest_notebook/__init__.py
Due: none

fix readthedocs
  docs/environment.yaml
Due: none

fix readthedocs
  .gitchangelog.rc
  docs/environment.yaml
  setup.py
Due: none

fix readthedocs
  .readthedocs.yml
  docs/environment.yaml
  setup.py
Due: none

add travis deployment key
  .travis.yml
  docs/source/changelog.rst
Due: travis-linter, doc8

fix travis
  .travis.yml
  .vscode/settings.json
  docs/changelog.rst
  setup.py
Due: travis-linter, doc8

add screenshot to manifest
  MANIFEST.in
  README.md
  pytest-notebook-screenshot.png
  pytest_notebook/__init__.py
Due: none

Added Conda install documentaion.
  .vscode/settings.json
  README.md
  docs/source/index.rst
  docs/source/user_guide/get_started.rst
  pytest_notebook/utils.py
Due: doc8

added regex replacement and other fixes
  docs/source/apidoc/pytest_notebook.rst
  docs/source/user_guide/tutorial_intro.ipynb
  pytest.ini
  pytest_notebook/diffing.py
  pytest_notebook/nb_regression.py
  pytest_notebook/notebook.py
  pytest_notebook/plugin.py
  pytest_notebook/utils.py
  tests/test_blacken_code.py
  tests/test_cell_diff.py
  tests/test_coalesce_streams.py
  tests/test_nb_diff.py
  tests/test_nb_regression.py
  tests/test_notebook.py
  tests/test_plugin_collector.py
  tests/test_plugin_fixture.py
  tests/test_utils/test_autodoc.txt
Due: doc8

add cell execution logging
  docs/source/user_guide/tutorial_intro.ipynb
  pytest_notebook/execution.py
  tests/test_utils/test_autodoc.txt
Due: none

update logging
  docs/source/user_guide/tutorial_intro.ipynb
  pytest_notebook/execution.py
Due: none

add notebook regression tests to travis
  .travis.yml
  docs/source/conf.py
  docs/source/user_guide/tutorial_intro.ipynb
Due: travis-linter

improve validate_diff_replace
  .travis.yml
  docs/source/user_guide/tutorial_intro.ipynb
  pytest.ini
  pytest_notebook/plugin.py
  tests/test_plugin_collector.py
Due: travis-linter

Update .travis.yml
  .travis.yml
Due: travis-linter

add reading of diff_replace configuration from notebook metadata
  MANIFEST.in
  pytest_notebook/nb_regression.py
  pytest_notebook/notebook.py
  pytest_notebook/plugin.py
  pytest_notebook/resources/__init__.py
  pytest_notebook/resources/nb_metadata.schema.json
  tests/test_notebook.py
Due: none

fix tests
  pytest_notebook/notebook.py
Due: none

bump version
  pytest_notebook/__init__.py
Due: none

add tutorial on configuration
  docs/source/apidoc/pytest_notebook.rst
  docs/source/index.rst
  docs/source/literal_includes/nb_metadata_schema.rst
  docs/source/user_guide/images/nb_metadata.png
  docs/source/user_guide/images/nb_tag_except.png
  docs/source/user_guide/tutorial_config.ipynb
  pytest_notebook/notebook.py
  pytest_notebook/resources/nb_metadata.schema.json
Due: doc8

finalise documentation
  docs/source/index.rst
  docs/source/user_guide/tutorial_config.ipynb
  pytest_notebook/nb_regression.py
  pytest_notebook/plugin.py
  tests/test_utils/test_autodoc.txt
Due: doc8

blacken notebook code cells
  docs/source/user_guide/tutorial_config.ipynb
  docs/source/user_guide/tutorial_intro.ipynb
  pytest.ini
  pytest_notebook/post_processors.py
Due: none

fix tests
  pytest.ini
Due: none

Added regex-replacement functionality (#1)
  .travis.yml
  MANIFEST.in
  docs/source/apidoc/pytest_notebook.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/literal_includes/nb_metadata_schema.rst
  docs/source/user_guide/images/nb_metadata.png
  docs/source/user_guide/images/nb_tag_except.png
  docs/source/user_guide/tutorial_config.ipynb
  docs/source/user_guide/tutorial_intro.ipynb
  pytest.ini
  pytest_notebook/__init__.py
  pytest_notebook/diffing.py
  pytest_notebook/execution.py
  pytest_notebook/nb_regression.py
  pytest_notebook/notebook.py
  pytest_notebook/plugin.py
  pytest_notebook/post_processors.py
  pytest_notebook/resources/__init__.py
  pytest_notebook/resources/nb_metadata.schema.json
  pytest_notebook/utils.py
  tests/test_blacken_code.py
  tests/test_cell_diff.py
  tests/test_coalesce_streams.py
  tests/test_nb_diff.py
  tests/test_nb_regression.py
  tests/test_notebook.py
  tests/test_plugin_collector.py
  tests/test_plugin_fixture.py
  tests/test_utils/test_autodoc.txt
Due: travis-linter, doc8

update changelog
  .gitchangelog.rc
  docs/changelog.rst
  docs/source/changelog.rst
Due: doc8

fix dependency
  pytest_notebook/__init__.py
  setup.py
Due: none

include package data
  pytest_notebook/__init__.py
  setup.py
Due: none
